<div [formGroup]="codeForm" class="form">
  <h2>Kódfeltöltés</h2>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Kód" formControlName="code" />
  </mat-form-field>
  <h4>Vásárlás dátuma</h4>
  <div class="date-fields">
    <mat-form-field>
      <mat-select placeholder="Nap" formControlName="day">
        <mat-option *ngFor="let day of days" value="{{ day }}"
          >{{ day }}.</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Óra" formControlName="hour">
        <mat-option *ngFor="let hour of hours" value="{{ hour }}">{{
          hour
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Perc" formControlName="minute">
        <mat-option *ngFor="let minute of minutes" value="{{ minute }}">{{
          minute
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner diameter="35"></mat-spinner>
  </div>
  <button
    type="button"
    *ngIf="!loading"
    mat-raised-button
    color="primary"
    [disabled]="!codeForm.valid"
    (click)="onSubmit()"
  >
    Kódfeltöltés
  </button>
</div>
