
.registration {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  
  h2 {
    margin: 0 auto
  }

  button {
    margin: 0 auto;
  }
  .form {
    min-height: 175px;
    min-width: 25vw;
  }

  mat-checkbox {
    margin: 0 5px;
  }
}

